<html>
<head>
	<style>
		table,th,td{
		border:1px solid black;
	}
	</style>
</head>
<body>
	<h1>Resume</h1>
	<p>Ratchanart Lacharochana</p>
	<img src="/profile.jpg" alt="Ratchanart" width="20%" height="20%" />
	<p>Education</p>
	<table>
		<tr>
			<th>Year</th>
			<th>Place</th>
		</tr>
		<tr>
			<td>Kindergarten(2005-2007)</td>
			<td>Assumption College Rayong</td>
		</tr>
		<tr>
			<td>Primary School(2008-2013)</td>
			<td>Assumption College Rayong</td>
		</tr>
		<tr>
			<td>Secondary School(2014-2019)</td>
			<td>Rayong Wittayakom School</td>
		</tr>
	</table>
</body>
</html>